@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-pretendard);
}

.galmuri {
  font-family: var(--galmuri);
}

.nexon {
  font-family: var(--nexon);
}

.recharts-wrapper *:focus {
  outline: none !important;
}

.recharts-surface,
.recharts-radar-polygon,
.recharts-layer path {
  outline: none !important;
}
@layer components {
  .btn {
    @apply rounded-lg border-3 px-3.5 py-1.5 font-medium focus:outline-none;
  }

  .btn-orange {
    @apply border-2 border-orange-400 bg-orange-400 text-white hover:cursor-pointer hover:bg-transparent hover:text-orange-400 disabled:cursor-default disabled:opacity-50 disabled:hover:bg-orange-400 disabled:hover:text-white;
  }

  .btn-outline-orange {
    @apply border-2 border-orange-400 bg-transparent text-orange-400 hover:cursor-pointer hover:bg-orange-400 hover:text-white disabled:cursor-default disabled:opacity-50 disabled:hover:bg-transparent disabled:hover:text-orange-400;
  }
}
