@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-pretendard);
}

.galmuri {
  /* --webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never; */
  font-family: var(--galmuri);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-2;
  }

  .btn-outline-orange {
    @apply bg-transparent text-orange-500 border border-orange-500 hover:bg-orange-500 hover:text-white hover:cursor-pointer disabled:hover:bg-transparent disabled:hover:text-orange-500 disabled:opacity-50 disabled:cursor-default;
  }

  .btn-outline-red {
    @apply bg-transparent text-red-400 border border-red-400 hover:bg-red-400 hover:text-white hover:cursor-pointer disabled:hover:bg-transparent disabled:hover:text-red-400 disabled:opacity-50 disabled:cursor-default;
  }

  .swal-input {
    @apply bg-white! border! border-gray-300! text-gray-900! text-sm! rounded-lg! block! p-2.5!;
  }
}
